{% extends "./startex_layout.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'startex:startex_plan_base' %}">StartEx</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'startex:create_startex_plan' %}">Create StartEX Plan</a></li>
    <li class="breadcrumb-item active">Create Unit Allocation</li>
{% endblock %}

{% block searchbar %}
    <form class="d-flex" action="{% url 'startex:create_list_sx_unit_detail' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="StartEx - Search" aria-label="Search" name="search">
      <button class="btn btn-success me-2" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div id="liveAlertPlaceholder"></div>
        {% if searchbool %}
            <div class="container">
                <hr class="bg-danger border-2 border-top border-danger">
                <h2>Search Result</h2><br>
                {% if unit_details %}
                    {% for unit_detail in unit_details %}
                        <h3>{{forloop.counter}}. {{unit_detail.sx_id}}</h3>
                        <p class="lead">ID: {{unit_detail.id}}</p>
                        <p>Unit: {{unit_detail.u_id}}</p>
                    {% endfor %}
                {% else %}
                    <p>Not found </p>
                {% endif %}
                <hr class="bg-danger border-2 border-top border-danger">
            </div>
        {% endif %}

        <div class="container">
          <div class="alert alert-info lead" role="alert">
            Create Unit Allocation
          </div>
          {% load django_bootstrap5 %}
            <div class="container">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    {% bootstrap_button button_type="submit" class="btn btn-primary" content="Add" %}
                    {% if sx_guide == 0 %}
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    {% endif %}
                    <a id = 'id_done' class="ms-3 btn btn-primary" href="{% url done_url %}" role="button">{{ done_text }}</a>
              </form>
            </div>

            <div class="mt-5 alert alert-secondary lead" role="alert">
                List of allocated units
            </div>

            <div class="row justify-content-left">
                <div class="col-auto">
                    {% if create_list_sx_unit_detail %}
                      <table id = "id_list_sx_unit_detail" class="table table-responsive table-striped table-bordered border-secondary mb-4">
                        <thead class="table-dark">
                          <tr>
                            <th>StartEx ID</th>
                            <th>Unit</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% if create_list_sx_unit_detail %}
                                {% regroup create_list_sx_unit_detail by sx_id as sx_unit_detail_by_sx_id %}
                                    {% for sx_id in sx_unit_detail_by_sx_id %}
                                        <tr>
                                            <td>{{ sx_id.grouper }}</td>
                                            <td>
                                            {% for name in sx_id.list %}
                                                <div class="border-bottom" style="height:40px;">{{name.u_id}}</div>
                                            {% endfor %}
                                            </td>
                                            <td>
                                            {% for sx_unit_detail in create_list_sx_unit_detail %}
                                                <div class="border-bottom" style="height:40px;">
                                                    <a href="{{ sx_unit_detail.get_delete_url }}" class="btn btn-danger btn-sm bi bi-x-square"></a>
                                                    <a href="{{ sx_unit_detail.get_update_url }}" class="btn btn-primary btn-sm bi bi-pen"></a>
                                                    <form class="ajax_open_form btn">
                                                        {% csrf_token %}
                                                        <input type="submit" id="uid-{{sx_unit_detail.id}}" class="btn btn-primary btn-sm" value="Open" />
                                                        {% if forloop.counter == 1 %}
                                                            {% if sx_guide == 1 %}
                                                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                            {% endif %}
                                                        {% endif %}
                                                    </form>
                                                </div>
                                            {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                            {% endif %}
                        </tbody>
                      </table>

                      {% include 'startex/pagination.html' %}

                    {% else %}
                        <p>There are no records!</p>
                    {% endif %}
                </div>
            </div>

            <script>
              $('#id_sx_id').val({{ sx_id }});
            </script>
            </div>
      {% else %}
		<h1> You are not logged in</h1>
	{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $("#id_sx_id").change(function (e) {
        e.preventDefault();
        // get the nickname
        var sx_id = $(this).val();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'startex:get_unit_detail' %}",
            data: {"sx_id": sx_id},
            success: function (response) {
                location.reload();
            },
            error: function (response) {
                console.log(response)
            }
        })
    })

    $("#id_u_id").change(function () {
      var sx_id = $('#id_sx_id').val();
      var sx_unit_name = $(this).val();
      $.ajax({
        type: 'GET',
        url: "{% url 'startex:validate_sx_unit_name' %}",
        data: {
          'sx_unit_name': sx_unit_name,
          'sx_id': sx_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
            var vehName = $("#id_u_id");
            vehName.val("")
            vehName.focus()
          }
        }
      });
    });

    $(".ajax_open_form").submit(function (e) {
        var sx_plan_id = $(this).closest('tr').children('td:first').text().split(" - ")[0];
        var sx_unit_id = $(this).children('input:last').attr("id").split("-")[1];
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize() + '&sx_plan_id=' + sx_plan_id + '&sx_unit_id=' + sx_unit_id;
        // Url
        var url = "{% url 'startex:create_list_sx_vehicle_detail' %}"
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'startex:post_unit_detail' %}",
            data: serializedData,
            success: function (response) {
                window.location = url
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })

    // Alert - Start
    var alertPlaceholder = document.getElementById('liveAlertPlaceholder');
    function alert_guide(header, body, extra, instruction, furtherinfo) {
        let code = "";
        code += "<div class=\"alert alert-success\" role=\"alert\">\n";
        code += "<p class=\"text-center bg-secondary text-white\">(Guide Mode)</p>\n";
        code += "  <h4 class=\"alert-heading\">" + header + "</h4>\n";
        code += "  <p>" + body + "</p>\n";
        code += "  " + extra + "\n";
        code += "  " + instruction + "\n";
        code += "  <p></br>" + furtherinfo + "</p>\n";
        code += "  <hr>\n";
        code += "  <p class=\"mb-0 alert alert-warning\"><small><strong>Note:</strong> The administrator has activated \
                    the guide mode on this web application.\n";

        code += "</div>\n";

        var wrapper = document.createElement('div');
        wrapper.innerHTML = code;
        alertPlaceholder.append(wrapper);
    }

    $(document).ready(function () {
        var header = "Next, allocate units!";
        var body = "Select a relevant unit from the dropdown box and then click the \"<code>Add</code>\" button to add the unit to the StartEx plan created earlier. Repeat the process to add more units to the plan.";
        var extra = "<h5>For example:</h5>";
        var instruction = "<b>Unit: </b> 1 MERC";
        var furtherinfo = "After you've added the unit, you can make changes by clicking the \"<code>Delete</code>\" or \"<code>Update</code>\" \
                    buttons. Finally, click the \"<code>Open</code>\" button next to the newly created unit to allocate vehicle name and quantity.";
        alert_guide(header, body, extra, instruction, furtherinfo);
    });
    // Alert - End
</script>
{% endblock scripts %}