{% extends "./startex_layout.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'startex:startex_plan_base' %}">StartEx</a></li>
    <li class="breadcrumb-item active">Create StartEX Plan</li>
{% endblock %}

{% block content %}
	{% if request.user.is_authenticated %}
		<div class="container">
			<div class="alert alert-info lead" role="alert">Create StartEx Plan</div>
            {% load django_bootstrap5 %}
            <div class="container">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    {% bootstrap_button button_type="submit" class="btn btn-primary" content="Create" %}
                </form>
            </div>
		<div class="mt-5 alert alert-secondary lead" role="alert">List - StartEx Plan</div>

        {% if create_list_startex_plan %}
          <table id="id_list_startex_plan" class="table table-responsive table-striped table-bordered border-secondary mb-4">
              <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Bigade</th>
                    <th>Description</th>
                    <th>Created at</th>
                    <th>Created by</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for startex_plan in create_list_startex_plan %}
                    <tr>
                        <td>{{ startex_plan.id }}</td>
                        <td>{{ startex_plan.name }}</td>
                        <td>{{ startex_plan.brigade }}</td>
                        <td>{{ startex_plan.description }}</td>
                        <td>{{ startex_plan.created_at }}</td>
                        <td>{{ startex_plan.created_by }}</td>
                        <td>
                            <a href="{{ startex_plan.get_delete_url }}" class="btn btn-danger btn-sm bi bi-x-square"></a>
                            <a href="{{ startex_plan.get_update_url }}" class="btn btn-primary btn-sm bi bi-pen"></a>
                            <form class="ajax_open_form btn">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary btn-sm" value="Open" />
<!--                                <a id = 'id_open_btn' class="ms-3 btn btn-primary btn-sm" href="{% url open_url %}" role="button">{{ open_text }}</a>-->
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

          {% include 'startex/pagination.html' %}

        {% else %}
            <p>There are no records!</p>
        {% endif %}

<!--        <script>-->
<!--            $('#id_sx_u_id').val({{ sx_u_id }});-->
<!--        </script>-->

	{% else %}
		<h1> You are not logged in</h1>
	{% endif %}
	</div>
{% endblock content%}

{% block scripts %}
<script>

    $(".ajax_open_form").submit(function (e) {
        var value = $(this).closest('tr').children('td:first').text();
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize() + '&sx_plan_id=' + value;
        // Url
        var url = "{% url 'startex:create_list_sx_unit_detail' %}"
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'startex:post_startex_plan' %}",
            data: serializedData,
            success: function (response) {
                window.location = url
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock scripts %}
