{% extends "./startex_layout.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'startex:startex_plan_base' %}">StartEx</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'startex:create_startex_plan' %}">Create StartEX Plan</a></li>
    <li class="breadcrumb-item active"><a id = "id_breadcrumb_second" href="{% url 'startex:create_list_sx_unit_detail' %}">Create Unit Allocation</a></li>
    <li class="breadcrumb-item active">Create Vehicle Allocation</li>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="alert alert-info lead" role="alert">
                Add Unit
            </div>
        {% load django_bootstrap5 %}
        <div class="container">
            <form method="POST" class="form">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% bootstrap_button button_type="submit" class="btn btn-primary" content="Add" %}
                <a id = 'id_done' class="ms-3 btn btn-primary" href="{% url done_url %}" role="button">{{ done_text }}</a>
            </form>
        </div>

        <div class="mt-5 alert alert-secondary lead" role="alert">
            List of allocated vehicles
        </div>

        {% if create_list_sx_vehicle_detail %}
          <table id="id_list_sx_vehicle_detail" class="table table-responsive table-striped table-bordered border-secondary mb-4">
              <thead class="table-dark">
                <tr>
                    <th>StartEx ID</th>
                    <th>Vehicle</th>
                    <th>Qty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if create_list_sx_vehicle_detail %}
                {% regroup create_list_sx_vehicle_detail by sx_u_id as sx_vehicle_detail_by_sx_u_id %}
                    {% for sx_u_id in sx_vehicle_detail_by_sx_u_id %}
                        <tr>
                            <td>{{ sx_u_id.grouper }}</td>
                            <td>
                            {% for list in sx_u_id.list %}
                                <div class="border-bottom" style="height:40px;">{{list.sx_v_id}}</div>
                            {% endfor %}
                            </td>
                            <td>
                            {% for list in sx_u_id.list %}
                                <div class="border-bottom" style="height:40px;">{{list.qty}}</div>
                            {% endfor %}
                            </td>
                            <td>
                            {% for vehicle_detail in create_list_sx_vehicle_detail %}
                                <div class="border-bottom" style="height:40px;">
                                    <a href="{{ vehicle_detail.get_delete_url }}" class="btn btn-danger btn-sm bi bi-x-square"></a>
                                    <a href="{{ vehicle_detail.get_update_url }}?reverse=true" class="btn btn-primary btn-sm bi bi-pen"></a>
                                </div>
                            {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
            {% endif %}
            </tbody>
          </table>

          {% include 'startex/pagination.html' %}

        {% else %}
            <p>There are no vehicle allocations!</p>
        {% endif %}

        <script>
            $('#id_sx_u_id').val({{ sx_u_id }});
        </script>

    {% else %}
        <h1> You are not logged in</h1>
    {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    $("#id_sx_u_id").change(function (e) {
        e.preventDefault();
        // get the nickname
        var sx_unit_id = $(this).val();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'startex:get_vehicle_detail' %}",
            data: {"sx_unit_id": sx_unit_id},
            success: function (response) {
                location.reload();
            },
            error: function (response) {
                console.log(response)
            }
        })
    })

    $("#id_sx_v_id").change(function () {
      var sx_u_id = $('#id_sx_u_id').val();
      var sx_vehicle_name = $(this).val();
      $.ajax({
        type: 'GET',
        url: "{% url 'startex:validate_sx_vehicle_name' %}",
        data: {
          'sx_vehicle_name': sx_vehicle_name,
          'sx_u_id': sx_u_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
            var vehName = $("#id_sx_v_id");
            vehName.val("")
            vehName.focus()
          }
        }
      });
    });
</script>
{% endblock scripts %}