{% extends "./startex_layout.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'startex:startex_plan_base' %}">StartEx</a></li>
	<li class="breadcrumb-item active">Update/Delete Movement Plan List</li>
{% endblock %}

{% block searchbar %}
    <form class="d-flex" action="{% url 'startex:list_edit_sx_vehicle_detail' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="StartEx - Search" aria-label="Search" name="search">
      <button class="btn btn-success me-2" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="alert alert-warning lead" role="alert">
	Update/Delete- Movement Plan List
</div>
	{% if movement_plan_list %}
    <div class="row">
      {% for movement_plan in movement_plan_list %}
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ movement_plan.route_name }}</h5>
              <p class="card-text mb-0">Exercise: {{ movement_plan.exercise_name }}</p>
              <p class="card-text mt-0">Serial: {{ movement_plan.serial }}</p>
              <p class="card-text mb-0"><em>Created_by: {{ movement_plan.created_by }}</em></p>
              <p class="card-text mt-0"><em>Created_at: {{ movement_plan.created_at }}</em></p>
              <a href="{{ movement_plan.get_update_url }}" class="btn btn-primary btn-sm bi bi-pen"></a>
              <a href="{{ movement_plan.get_delete_url }}" class="btn btn-danger btn-sm bi bi-x-square"></a>
            </div>
          </div>
        </div>
		  {% endfor %}
    </div>

    {% include 'startex/pagination.html' %}

	{% else %}
		<p>There are no records!</p>
	{% endif %}
  {% else %}
    <h1> You are not logged in</h1>
	{% endif %}
{% endblock %}
