{% extends "./startex_layout.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'movement:movement_base' %}">Movement</a></li>
	<li class="breadcrumb-item active">Update/Delete Brigade List</li>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="alert alert-warning lead" role="alert">
	Update/Delete- Brigade List
</div>
	{% if brigade_list %}
    <div class="row">
      {% for brigade in brigade_list %}
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ brigade.unit }}</h5>
              <p class="card-text">Acronym: {{ brigade.acronym }}</p>
              <a href="{{ brigade.get_update_url }}" class="btn btn-primary btn-sm bi bi-pen"></a>
              <a href="{{ brigade.get_delete_url }}" class="btn btn-danger btn-sm bi-x-square"></a>
            </div>
          </div>
        </div>
		  {% endfor %}
    </div>

    {% include 'startex/pagination.html' %}

	{% else %}
		<p>There are no brigade records!</p>
	{% endif %}
  {% else %}
    <h1> You are not logged in</h1>
	{% endif %}
{% endblock %}
