{% extends "layout.html" %}

{% block breadcrumb %}

{% endblock %}

{% block primary_navbar %}
	<div class="dropdown">
		<a href="#" class="d-flex align-items-center ms-5 mb-3 text-white text-decoration-none dropdown-toggle bi bi-patch-plus" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
			<span class="ms-1">Create/Update</span>
		</a>
		<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
			<li><a class="dropdown-item" href="{% url 'startex:create_startex_plan' %}">startex Plan</a></li>
            <li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="{% url 'startex:create_list_sx_vehicle_data' %}">New Vehicle Entry</a></li>
		</ul>
	</div>
	<div class="dropdown">
		<a href="#" class="d-flex align-items-center ms-5 mb-3 text-white text-decoration-none dropdown-toggle bi bi-view-list" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
			<span class="ms-1">View</span>
		</a>
		<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
			<li><a class="dropdown-item" href="{% url 'startex:list_startex_plan' %}">StartEx Plan</a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}