{% extends "./startex_layout_base.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">StartEx</li>
{% endblock %}

{% block content %}
{% load static %}
{% if request.user.is_authenticated %}
	<div id="liveAlertPlaceholder"></div>
<!--  <div class="container mb-3">-->
<!--    <section id="hero" class="d-flex align-items-center">-->
<!--    <div class="container" data-aos="zoom-out" data-aos-delay="100">-->
<!--      <h1>Welcome to <span>StartEx planning page</span></h1>-->
<!--      &lt;!&ndash; <h2>Here you can plan and manage vehicle startex.</h2> &ndash;&gt;-->
<!--      &lt;!&ndash; <div class="d-flex">-->
<!--        <a href="#about" class="btn-get-started scrollto">Get Started</a>-->
<!--        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
<!--      </div> &ndash;&gt;-->
<!--    </div>-->
<!--  </section>-->
<!--  </div>-->

<!-- ======= hero_2 Section ======= -->
  <section id="hero_2" class="container align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Welcome to StartEx Planning page</h1>
          <h2>This module can be used to allocate brigade and units, including vehicle type and quantity for each unit, for the initial planning process linked to road movement.</h2>
        </div>
      </div>
      <div class="text-center">
        <a style="pointer-events= default;"href="{% url 'startex:create_startex_plan' %}" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section><!-- End hero_2 -->


{% else %}
  <h1> You are not logged in</h1>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    // Alert - Start
    var alertPlaceholder = document.getElementById('liveAlertPlaceholder');
    function alert_guide(header, body, extra, instruction) {
        let code = "";
        code += "<div class=\"alert alert-success\" role=\"alert\">\n";
        code += "<p class=\"text-center bg-secondary text-white\">(Guide Mode)</p>\n";
        code += "  <h4 class=\"alert-heading\">" + header + "</h4>\n";
        code += "  <p>" + body + "</p>\n";
        code += "  " + extra + "\n";
        code += "  " + instruction + "\n";
        code += "  <hr>\n";
        code += "  <p class=\"mb-0 alert alert-warning\"><small><strong>Note:</strong> The administrator has activated \
                    the guide mode on this web application.\n";

        code += "</div>\n";

        var wrapper = document.createElement('div');
        wrapper.innerHTML = code;
        alertPlaceholder.append(wrapper);
    }

    $(document).ready(function () {
        var header = "Let's start with the StartEx module!";
        var body = "This is the StartEx module's landing page. This page will contain pertinent information about this module. \
                    There isn't much information here right now because we're figuring out what information our sponsors want displayed here.";
        var extra = "Please select \"<code>StartEx Plan</code>\" from the \"<code>Create/Update</code>\" dropdown menu on the left vertical navbar.";
        var instruction = "";
        alert_guide(header, body, extra, instruction);
    });
    // Alert - End
</script>
{% endblock scripts %}