{% extends "layout.html" %}
{% block breadcrumb %}
  <!-- <li class="breadcrumb-item active">Home</li> -->
  <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
  <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Library</li> -->
{% endblock %}

{% block content %}
{% load static %}
  <div class="d-flex-container">
    <!-- ======= Hero Section ======= -->
    <section id="hero_index">

      <div class="container">
        <div class="row d-flex align-items-center"">
        <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
          <h1>New experience with Army Calculator</h1>
          <h2>In today's digital world, we must evolve the way we plan and manage movement of vehicles during an operation or exercise.</h2>
          {% if request.user.is_authenticated %}
            <a href="{% url 'movement:movement_plan_base' %}" class="btn-get-started scrollto">Get started</a>
          {% else %}
            <a href="accounts/login" class="btn-get-started scrollto">Please login to begin</a>
          {% endif %}
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="{% static 'army_calculator/content/image/army-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      </div>

    </section><!-- End Hero -->
  </div>

{% endblock %}
