<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Army Calculator</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'army_calculator/content/css/master.css' %}" />

        <!-- Latest compiled and minified jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

        <!-- Activate navigation item of horizontal navbar based on the current page. -->
        <script>
          $(document).ready(function(){
            var title = $(document).attr('title');
            var title_split = title.split(' ');
            $('.h-nav').removeClass('active');
            $(('#h-nav-'+title_split[0]).toLowerCase()).addClass('active');
            if (title_split[0] == 'Home' || title_split[0] == 'About' || title_split[0] == 'Contact'){
              $('#v-sidebar').removeClass('d-md-block');
              $('#h-sidebar').addClass('d-none');
            }
            else{
              $('#v-sidebar').addClass('d-md-block');
              $('#h-sidebar').removeClass('d-none');
            }

            // Prevent the screen flicker.
            $("#main_tbody").css("display", "none");
            $("#main_tbody").fadeIn(500);
          });

        </script>
    </head>
    <body>

      <!-- Primary Navbar -->
        <div class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
            <div class="container-fluid">
                <!-- Navbar brand starts -->
                <a href="/" class="navbar-brand bi bi-calculator" href="{% url 'home' %}">Army Calculator</a>
                <!-- Ends -->

                <!--Navbar toggler icon starts -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Ends -->

                <!-- Collapsable navbar items starts        -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">

                    <!-- Navbar items start -->
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="h-nav nav-link" href="{% url 'home' %}" id="h-nav-home">Home</a></li>
                        <li class="nav-item"><a class="h-nav nav-link" href="{% url 'startex:startex_plan_base' %}" id="h-nav-vehicle">StartEx</a></li>
                        <li class="nav-item"><a class="h-nav nav-link" href="{% url 'movement:movement_plan_base' %}" id="h-nav-movement">Movement</a></li>
                        <!-- <li class="nav-item"><a class="h-nav nav-link" href="" id="h-nav-report">Report</a></li> -->
                        <li class="nav-item"><a class="h-nav nav-link" href="{% url 'about' %}" id="h-nav-about">About</a></li>
                        <li class="nav-item"><a class="h-nav nav-link" href="{% url 'accounts:contact' %}" id="h-nav-contact">Contact</a></li>
                    </ul>
                    {% else %}
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item"><a class="h-nav nav-link" href="{% url 'home' %}" id="h-nav-home">Home</a></li>
                          <li class="nav-item"><a class="h-nav nav-link" href="{% url 'about' %}" id="h-nav-about">About</a></li>
                          <li class="nav-item"><a class="h-nav nav-link" href="{% url 'accounts:contact' %}" id="h-nav-contact">Contact</a></li>
                      </ul>
                    {% endif %}
                    <!-- End -->

                    <!-- Search bar section starts -->
<!--                    method="POST"-->
                    {% block searchbar %}

                    {% endblock %}
                    <!-- Ends -->

                    <!-- Login section starts -->
                    {% if user.is_authenticated %}
                    <form class="d-flex" id="logoutForm" action="/accounts/logout/" method="POST">
                        {% csrf_token %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle bi bi-person-circle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"><span class="ms-2">Welcome {{ user.username }}!</span></a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                              </ul>
                            </li>
                        </ul>
                    </form>
                    {% else %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="h-nav nav-item"><a class="nav-link" href="{% url 'accounts:login' %}" id="h-nav-log">Log in</a></li>
                        <li class="h-nav nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}" id="h-nav-sign">Sign up</a></li>
                    </ul>
                    {% endif %}
                    <!-- Ends -->

                </div>
                <!-- Ends -->

            </div>
        </div>
        <!-- Primary Navbar - Ends -->

        <!-- Secondary Navbar - This bar displays when display < medium -->
        <div class="d-md-none nav-scroller shadow-sm text-white bg-dark fixed-bottom" id='h-sidebar'>
          <nav class="nav nav-underline" aria-label="Secondary navigation">
              {% block secondary_navbar %}

              {% endblock secondary_navbar %}
          </nav>
        </div>
        <!-- Secondary Navbar - Ends -->

        <!-- Body -->

        <div class="d-flex flex-row mb-3">

          <div class="d-flex flex-column d-none d-md-block flex-shrink-0 p-3 text-white bg-dark" id = "v-sidebar" style="width: 230px;">
            <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-4">{{ sidebar }}</span>
            </p>
            <hr>
            {% block primary_navbar %}

            {% endblock %}
          </div>

          <div class="b-vert-divider"></div>
          <div class="col d-flex flex-column bd-highlight">

            <div class="b-hori-divider"></div>

            <div class="p-2 bd-highlight">
              <div class="d-flex-container">
                {% block content %}

                {% endblock %}
              </div>
            </div>
          </div>

          <div class="b-vert-divider"></div>

        </div>

        <div class="container-fluid">
            <hr/>
            <footer>
                <p>&copy; {{ year }} - Army Calculator</p>
            </footer>
        </div>

        <!-- Master script for the site -->
        <script src="{% static "army_calculator/scripts/master.js"%}" type="text/javascript" ></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}

    </body>
    <script>
        // Popover - Start
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
              return new bootstrap.Popover(popoverTriggerEl)
            })

            $(document).ready(function(){
                $('[data-toggle="popover"]').popover("show");
            });
            // Popover - End
    </script>
</html>
