<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Army Calculator</title>
    {% load staticfiles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'army_calculator/content/master.css' %}" />

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Activate navigation item of horizontal navbar based on the current page. -->
    <script>
      $(document).ready(function(){
        var title = $(document).attr('title');
        var title_split = title.split(' ');
        $('.h-nav').removeClass('active');
        $(('#h-nav-'+title_split[0]).toLowerCase()).addClass('active');
      });
    </script>

</head>
<body>
  <!-- Navbar -->
    <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- Navbar brand starts -->
            <a href="/" class="navbar-brand bi bi-calculator" href="{% url 'home' %}">Army Calculator</a>
            <!-- Ends -->

            Navbar toggler icon starts -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Ends -->

            <!-- Collapsable navbar items starts        -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                <!-- Navbar items start -->
                {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="h-nav nav-link" href="{% url 'home' %}" id="h-nav-home">Home</a></li>
                    <li class="nav-item"><a class="h-nav nav-link" href="{% url '' %}" id="h-nav-vehicle">Vehicle Inventory</a></li>
                    <li class="nav-item"><a class="h-nav nav-link" href="{% url '' %}" id="h-nav-movement">Movement Plan</a></li>
                    <li class="nav-item"><a class="h-nav nav-link" href="{% url '' %}" id="h-nav-report">Report</a></li>
                    <li class="nav-item"><a class="h-nav nav-link" href="{% url 'about' %}" id="h-nav-about">About</a></li>
                    <li class="nav-item"><a class="h-nav nav-link" href="{% url 'contact' %}" id="h-nav-contact">Contact</a></li>
                </ul>
                {% else %}
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item"><a class="h-nav nav-link" href="{% url 'home' %}" id="h-nav-home">Home</a></li>
                      <li class="nav-item"><a class="h-nav nav-link" href="{% url 'about' %}" id="h-nav-about">About</a></li>
                      <li class="nav-item"><a class="h-nav nav-link" href="{% url 'contact' %}" id="h-nav-contact">Contact</a></li>
                  </ul>
                {% endif %}
                <!-- End -->

                <!-- Search bar section starts -->
                <form class="d-flex" method="POST">
                  {% csrf_token %}
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-success me-2" type="submit">Search</button>
                </form>
                <!-- Ends -->

                <!-- Login section starts -->
                {% if user.is_authenticated %}
                <form class="d-flex" id="logoutForm" action="/logout/" method="POST">
                    {% csrf_token %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle bi bi-person-circle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"><span class="ms-2">Hello {{ user.username }}!</span></a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                          </ul>
                        </li>
                    </ul>
                </form>
                {% else %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="h-nav nav-item"><a class="nav-link" href="{% url 'login' %}" id="h-nav-log">Log in</a></li>
                    <li class="h-nav nav-item"><a class="nav-link" href="{% url '' %}" id="h-nav-sign">Sign up</a></li>
                </ul>
                {% endif %}
                <!-- Ends -->

            </div>
            <!-- Ends -->

        </div>
    </div>

    <!-- Body -->
    <div class="mb-4">
      <div class="container-fluid">
        <div class="row gx-5">

          <!-- Left column starts -->
          <div class="col-sm-2 bg-secondary">
            <ul class="nav flex-column mt-5">
              <li class="nav-item">
                <a class="nav-link text-white active" aria-current="page" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
          <!-- Ends -->

          <!-- Right column starts -->
          <div class="col-sm-10">

            <!-- Right column - Row 1 -->
            <div class="row">
              <div class="col pt-4">

                <!-- Breadcrumb starts-->
                <div class="shadow-sm p-3 mb-5 bg-light rounded">
                  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                  </nav>
                </div>
                <!-- Ends -->

              </div>
            </div>
            <!-- Ends -->

            <!-- Right column - Row 2 -->
            <div class="row">
              <div class="col">
                {% block content %}{% endblock %}

                <!-- Footer start -->
                <div class="container body-content">
                    <hr/>
                    <footer>
                        <p>&copy; {{ year }} - Army Calculator</p>
                    </footer>
                </div>
                <!-- End -->

              </div>
            </div>
            <!-- Ends -->

          </div>
          <!-- Ends -->

        </div>
      </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}

</body>
</html>
