{% extends "movement/movement_layout_view.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'movement:movement_plan_base' %}">Movement</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'movement:create_movement_plan' %}">Create Movement Plan</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'movement:create_list_mov_cp_detail' %}">CP Allocation</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'movement:create_list_mov_unit_detail' %}">Unit Allocate</a></li>
    <li class="breadcrumb-item active">Packet Allocate</li>
{% endblock %}

{% block searchbar %}
    <form class="d-flex" action="{% url 'movement:create_list_mov_packet_detail' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Movement - Search" aria-label="Search" name="search">
      <button class="btn btn-success me-2" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div id="liveAlertPlaceholder"></div>
        {% if searchbool %}
            <div class="container">
                <hr class="bg-danger border-2 border-top border-danger">
                <h2>Search Result</h2><br>
                {% if packet_details %}
                    {% for packet_detail in packet_details %}
                        <h3>{{forloop.counter}}. {{packet_detail.u_id}}</h3>
                        <p class="lead">ID: {{packet_detail.id}}</p>
                        <p>Sub-unit: {{packet_detail.subunit}}</p>
                        <p>Packet No: {{packet_detail.packet_no}}</p>
                        <p>Vehicle Qty: {{packet_detail.vehicle_qty}}</p>
                    {% endfor %}
                {% else %}
                    <p>Not found </p>
                {% endif %}
                <hr class="bg-danger border-2 border-top border-danger">
            </div>
        {% endif %}

    <div class="container">
      <div class="alert alert-info lead" role="alert">Packet Allocation</div>
      {% load django_bootstrap5 %}
        <div class="container">
            <form method="POST" class="form">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% bootstrap_button button_type="submit" class="btn btn-primary" content="Add" %}
                {% if sx_guide == 0 %}
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                {% endif %}
                <a id = 'id_done' class="ms-3 btn btn-primary" href="{% url done_url %}" role="button">{{ done_text }}</a>
          </form>
        </div>

        <div class="mt-5 alert alert-secondary lead" role="alert">
            List of allocated packets
        </div>
        {% if packet_detail_create_list %}
          <p hidden id="id_records">Could not retrive the packet records!</p>
          <table id="id_p_list_view" class="table table-responsive table-striped table-bordered border-secondary mb-4">
            <thead class="table-dark">
              <tr>
                <th>ID</th>
                <th>Sub-unit</th>
                <th>Packet No</th>
                <th>Vehicle Qty</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                {% if packet_detail_create_list %}
                    {% regroup packet_detail_create_list by u_id as packet_detail_create_list_by_u_id %}
                        {% for u_id in packet_detail_create_list_by_u_id %}
                            <tr>
                                <td>{{ u_id.grouper }}</td>

                                <td>
                                    {% for name in u_id.list %}
                                        <div class="border-bottom" style="height:40px;">{{name.subunit}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for name in u_id.list %}
                                        <div class="border-bottom" style="height:40px;">{{name.packet_no}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for name in u_id.list %}
                                        <div class="border-bottom" style="height:40px;">{{name.vehicle_qty}}</div>
                                    {% endfor %}
                                </td>

                                <td>
                                {% for packet_detail in packet_detail_create_list %}
                                    <div class="border-bottom" style="height:40px;">
                                        <a href="{{ packet_detail.get_delete_url }}" class="btn btn-danger btn-sm bi bi-x-square"></a>
                                        <a href="{{ packet_detail.get_update_url }}" class="btn btn-primary btn-sm bi bi-pen"></a>
                                    </div>
                                {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                {% endif %}
            </tbody>
          </table>

          {% include 'movement/pagination.html' %}

        {% else %}
            <p>There are no records!</p>
        {% endif %}

        <script>
          const params = new URLSearchParams(window.location.search);
          var u_id = params.get("u_id");
          $('#id_u_id').val({{ u_id }});
          if (u_id != null){
            $('#id_u_id').val(u_id);
          }
          if (u_id != null & u_id != {{ u_id }}){
            $('#id_p_list_view').hide();
            $('#id_pagination').hide();
            $('#id_records').removeAttr('hidden');
          }else{
            $('#id_p_list_view').show();
            $('#id_pagination').show();
            $('#id_records').addAttr('hidden');
          }
        </script>
            </div>
      {% else %}
		<h1> You are not logged in</h1>
	{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $("#id_u_id").change(function (e) {
        e.preventDefault();
        // get the nickname
        var u_id = $(this).val();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'movement:get_packet_detail' %}",
            data: {"u_id": u_id},
            success: function (response) {
                location.reload();
            },
            error: function (response) {
                console.log(response)
            }
        })
    })

    $("#id_subunit").change(function () {
      var u_id = $('#id_u_id').val();
      var mov_subunit_name = $(this).val();
      $.ajax({
        type: 'GET',
        url: "{% url 'movement:validate_mov_subunit_name' %}",
        data: {
          'mov_subunit_name': mov_subunit_name,
          'u_id': u_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
            var vehName = $("#id_subunit");
            vehName.val("")
            vehName.focus()
          }
        }
      });
    });

    // Alert - Start
    var alertPlaceholder = document.getElementById('liveAlertPlaceholder');
    function alert_guide(header, body, extra, instruction, furtherinfo) {
        let code = "";
        code += "<div class=\"alert alert-success\" role=\"alert\">\n";
        code += "<p class=\"text-center bg-secondary text-white\">(Guide Mode)</p>\n";
        code += "  <h4 class=\"alert-heading\">" + header + "</h4>\n";
        code += "  <p>" + body + "</p>\n";
        code += "  " + extra + "\n";
        code += "  " + instruction + "\n";
        code += "  <p></br>" + furtherinfo + "</p>\n";
        code += "  <hr>\n";
        code += "  <p class=\"mb-0 alert alert-warning\"><small><strong>Note:</strong> The administrator has activated \
                    the guide mode on this web application.\n";

        code += "</div>\n";

        var wrapper = document.createElement('div');
        wrapper.innerHTML = code;
        alertPlaceholder.append(wrapper);
    }

    $(document).ready(function () {
        var header = "Finally, a packet allocation for subunits!";
        var body = "Enter a subunit name, a packet number, and the vehicle quantity, and then click the \"<code>Add</code>\" \
                button to add a new subunit's packet detail to the unit you've selected. Repeat the process to add more subunits' packet details to \
                the unit you've selected.";
        var extra = "<h5>For example:</h5>";
        var instruction = "<b>Subunit: </b>11 Signal Regiment</br><b>Packet no: </b>1</br><b>Vehicle qty: </b>10";
        var furtherinfo = "After you've added the subunit's packet detail, you can make changes by clicking the \"<code>Delete</code>\" or \"<code>Update</code>\" \
                    buttons. Finally, please select \"<code>Movement Plan</code>\" from the \"<code>View</code>\" dropdown menu on the left vertical \
                    navbar to view your Movement plan.";
        alert_guide(header, body, extra, instruction, furtherinfo);
    });
    // Alert - End
</script>
{% endblock scripts %}