{% extends "movement/movement_layout.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'movement:movement_plan_base' %}">Movement</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'movement:create_movement_plan' %}">Create Movement Plan</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'movement:create_list_mov_cp_detail' %}">CP Allocation</a></li>
    <li class="breadcrumb-item active">Unit Allocate</li>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
  <div class="alert alert-info lead" role="alert">Unit Allocation</div>
  {% load django_bootstrap5 %}
  	<div class="container">
  		<form method="POST" class="form">
  			{% csrf_token %}
  			{% bootstrap_form form layout='horizontal' %}
  			{% bootstrap_button button_type="submit" class="btn btn-primary" content="Allocate" %}
  			<a id = 'id_done' class="ms-3 btn btn-primary" href="{% url done_url %}" role="button">{{ done_text }}</a>
      </form>
  	</div>

    <div class="mt-5 alert alert-secondary lead" role="alert">
    	List of allocated units
    </div>
  	{% if unit_detail_create_list %}
      <table id="id_u_list_view" class="table table-responsive table-striped table-bordered border-secondary mb-4">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Unit</th>
            <th>Packet No</th>
            <th>Vehicle Qty</th>
            <th>Packet Allocated</th>
            <th>Packet Auto Allocated</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% if unit_detail_create_list %}
                {% regroup unit_detail_create_list by m_id as unit_detail_create_list_by_m_id %}
                    {% for m_id in unit_detail_create_list_by_m_id %}
                        <tr>
                            <td>{{ m_id.grouper }}</td>

                            <td>
                                {% for name in m_id.list %}
                                    <div class="border-bottom" style="height:40px;">{{name.unit}}</div>
                                {% endfor %}
                            </td>
                            <td>
                                {% for name in m_id.list %}
                                    <div class="border-bottom" style="height:40px;">{{name.packet_no}}</div>
                                {% endfor %}
                            </td>
                            <td>
                                {% for name in m_id.list %}
                                    <div class="border-bottom" style="height:40px;">{{name.vehicle_qty}}</div>
                                {% endfor %}
                            </td>
                            <td>
                                {% for name in m_id.list %}
                                    <div class="border-bottom" style="height:40px;">{{name.packet_allocated}}</div>
                                {% endfor %}
                            </td>
                            <td>
                                {% for name in m_id.list %}
                                    <div class="border-bottom" style="height:40px;">{{name.packet_auto_populated}}</div>
                                {% endfor %}
                            </td>

                            <td>
                            {% for unit_detail in unit_detail_create_list %}
                                <div class="border-bottom" style="height:40px;">
                                    <a href="{{ unit_detail.get_delete_url }}" class="btn btn-danger btn-sm bi bi-x-square"></a>
                                    <a href="{{ unit_detail.get_update_url }}" class="btn btn-primary btn-sm bi bi-pen"></a>
                                    <form class="ajax_open_form btn">
                                        {% csrf_token %}
                                        <input type="submit" id="uid-{{unit_detail.id}}" class="btn btn-primary btn-sm" value="Open" />
                                    </form>
                                </div>
                            {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
            {% endif %}
        </tbody>
      </table>

      {% include 'movement/pagination.html' %}

  	{% else %}
  		<p>There are no unit records!</p>
  	{% endif %}

    <script>
        $('#id_m_id').val({{ m_id }});
        if ('{{ done_text }}' == 'Next'){
          $('#id_done').hide();
        }else{
          $('#id_done').show();
        }
    </script>
  {% else %}
    <h1> You are not logged in</h1>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    $("#id_m_id").change(function (e) {
        e.preventDefault();
        // get the nickname
        var m_id = $(this).val();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'movement:get_unit_detail' %}",
            data: {"m_id": m_id},
            success: function (response) {
                location.reload();
            },
            error: function (response) {
                console.log(response)
            }
        })
    })

    $(".ajax_open_form").submit(function (e) {
        var m_plan_id = $(this).closest('tr').children('td:first').text().split(" - ")[0];
        var m_unit_id = $(this).children('input:last').attr("id").split("-")[1];
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize() + '&m_plan_id=' + m_plan_id + '&m_unit_id=' + m_unit_id;
        // Url
        var url = "{% url 'movement:create_list_mov_packet_detail' %}"
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'movement:post_unit_detail' %}",
            data: serializedData,
            success: function (response) {
                window.location = url
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock scripts %}