{% extends "movement/movement_layout.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'movement:movement_plan_base' %}">Movement</a></li>
  <li class="breadcrumb-item active">New Movement Plan</li>
{% endblock %}

{% block content %}
	{% if request.user.is_authenticated %}
		<div class="container">
			<div class="alert alert-info lead" role="alert">Create Movement Plan</div>
            {% load django_bootstrap5 %}
            <div class="container">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    {% bootstrap_button button_type="submit" class="btn btn-primary" content="Create" %}
                </form>
            </div>
		<div class="mt-5 alert alert-secondary lead" role="alert">List - Movement Plan</div>

        {% if create_list_movement_plan %}
          <table id="id_list_startex_plan" class="table table-responsive table-striped table-bordered border-secondary mb-4">
              <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Route Name</th>
                    <th>Exercise Name</th>
                    <th>Serial</th>
                    <th>Description</th>
                    <th>Start Time</th>
                    <th>Start Date</th>
                    <th>Traffic Density</th>
                    <th>Packet Gap</th>
                    <th>Unit Gap</th>
                    <th>Packet Size</th>
                    <th>Route Type</th>
                    <th>Bigade</th>
                    <th>Created at</th>
                    <th>Created by</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for movement_plan in create_list_movement_plan %}
                    <tr>
                        <td>{{ movement_plan.id }}</td>
                        <td>{{ movement_plan.route_name }}</td>
                        <td>{{ movement_plan.exercise_name }}</td>
                        <td>{{ movement_plan.serial }}</td>
                        <td>{{ movement_plan.description }}</td>
                        <td>{{ movement_plan.start_time }}</td>
                        <td>{{ movement_plan.start_date }}</td>
                        <td>{{ movement_plan.traffic_density }}</td>
                        <td>{{ movement_plan.packet_gap }}</td>
                        <td>{{ movement_plan.unit_gap }}</td>
                        <td>{{ movement_plan.packet_size }}</td>
                        <td>{{ movement_plan.route_type }}</td>
                        <td>{{ movement_plan.brigade }}</td>
                        <td>{{ movement_plan.created_at }}</td>
                        <td>{{ movement_plan.created_by }}</td>
                        <td>
                            <a href="{{ movement_plan.get_delete_url }}" class="btn btn-danger btn-sm bi bi-x-square"></a>
                            <a href="{{ movement_plan.get_update_url }}" class="btn btn-primary btn-sm bi bi-pen"></a>
                            <form class="ajax_open_form btn">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary btn-sm" value="Open" />
<!--                                <a id = 'id_open_btn' class="ms-3 btn btn-primary btn-sm" href="{% url open_url %}" role="button">{{ open_text }}</a>-->
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

          {% include 'movement/pagination.html' %}

        {% else %}
            <p>Record not found!</p>
        {% endif %}

	{% else %}
		<h1> You are not logged in</h1>
	{% endif %}
	</div>
{% endblock content%}

{% block scripts %}
<script>

    $(".ajax_open_form").submit(function (e) {
        var movement_plan_id = $(this).closest('tr').children('td:first').text();
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize() + '&movement_plan_id=' + movement_plan_id;
        // Url
        var url = "{% url 'movement:create_list_mov_cp_detail' %}"
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'movement:post_movement_plan' %}",
            data: serializedData,
            success: function (response) {
                window.location = url
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock scripts %}