{% extends "movement/movement_layout.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'movement:movement_plan_base' %}">Movement</a></li>
  <li class="breadcrumb-item active">Movement Plan</li>
{% endblock %}

{% block searchbar %}
    <form class="d-flex" action="{% url 'movement:create_movement_plan' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Movement - Search" aria-label="Search" name="search">
      <button class="btn btn-success me-2" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
	{% if request.user.is_authenticated %}
        <div id="liveAlertPlaceholder"></div>
        {% if searchbool %}
            <div class="container">
                <hr class="bg-danger border-2 border-top border-danger">
                <h2>Search Result</h2><br>
                {% if movement_plans %}
                    {% for mov_plan in movement_plans %}
                        <h3>{{forloop.counter}}. {{mov_plan.route_name}}</h3>
                        <p class="lead">ID: {{mov_plan.id}}</p>
                        <p>Description: {{mov_plan.description}}</p>
                        <p>Brigade: {{mov_plan.brigade}}</p>
                        <p>Exercise Name: {{mov_plan.exercise_name}}</p>
                        <p>Serial: {{mov_plan.serial}}</p>
                        <p>Description: {{mov_plan.description}}</p>
                        <p>Start Time: {{mov_plan.start_time}}</p>
                        <p>Start Date: {{mov_plan.start_date}}</p>
                        <p>Speed: {{mov_plan.speed}}</p>
                        <p>Traffic Density: {{mov_plan.traffic_density}}</p>
                        <p>Packet Gap: {{mov_plan.packet_gap}}</p>
                        <p>Unit Gap: {{mov_plan.unit_gap}}</p>
                        <p>Packet Size: {{mov_plan.packet_size}}</p>
                        <p>Route Type: {{mov_plan.route_type}}</p>
                        <p>Date Created: {{mov_plan.created_at}}</p>
                        <p>Created By: {{mov_plan.created_by}}</p>
                    {% endfor %}
                {% else %}
                    <p>Not found </p>
                {% endif %}
                <hr class="bg-danger border-2 border-top border-danger">
            </div>
        {% endif %}

		<div class="container">
			<div class="alert alert-info lead" role="alert">Create Movement Plan</div>
            {% load django_bootstrap5 %}
            <div class="container">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    {% bootstrap_button button_type="submit" class="btn btn-primary" content="Create" %}
                    {% if sx_guide == 0 %}
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <a href="#" data-toggle="popover" title="Once the above fields have been filled out, please click here" data-content=""></a>
                        {% endif %}
                </form>
            </div>
            <div class="mt-5 alert alert-secondary lead" role="alert">List - Movement Plan</div>

            {% if create_list_movement_plan %}
              <table id="id_list_startex_plan" class="table table-responsive table-striped table-bordered border-secondary mb-4">
                  <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Route Name</th>
                        <th>Exercise Name</th>
                        <th>Serial</th>
                        <th>Description</th>
                        <th>Start Time</th>
                        <th>Start Date</th>
                        <th>Traffic Density</th>
                        <th>Packet Gap</th>
                        <th>Unit Gap</th>
                        <th>Packet Size</th>
                        <th>Route Type</th>
                        <th>Bigade</th>
                        <th>Created at</th>
                        <th>Created by</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movement_plan in create_list_movement_plan %}
                        <tr>
                            <td>{{ movement_plan.id }}</td>
                            <td>{{ movement_plan.route_name }}</td>
                            <td>{{ movement_plan.exercise_name }}</td>
                            <td>{{ movement_plan.serial }}</td>
                            <td>{{ movement_plan.description }}</td>
                            <td>{{ movement_plan.start_time }}</td>
                            <td>{{ movement_plan.start_date }}</td>
                            <td>{{ movement_plan.traffic_density }}</td>
                            <td>{{ movement_plan.packet_gap }}</td>
                            <td>{{ movement_plan.unit_gap }}</td>
                            <td>{{ movement_plan.packet_size }}</td>
                            <td>{{ movement_plan.route_type }}</td>
                            <td>{{ movement_plan.brigade }}</td>
                            <td>{{ movement_plan.created_at }}</td>
                            <td>{{ movement_plan.created_by }}</td>
                            <td>
                                <a href="{{ movement_plan.get_delete_url }}" class="btn btn-danger btn-sm bi bi-x-square"></a>
                                <a href="{{ movement_plan.get_update_url }}" class="btn btn-primary btn-sm bi bi-pen"></a>
                                <form class="ajax_open_form btn">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary btn-sm" value="Open" />
                                    {% if forloop.counter == 1 %}
                                        {% if sx_guide == 1 %}
                                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                        {% endif %}
                                    {% endif %}
    <!--                                <a id = 'id_open_btn' class="ms-3 btn btn-primary btn-sm" href="{% url open_url %}" role="button">{{ open_text }}</a>-->
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>

              {% include 'movement/pagination.html' %}

            {% else %}
                <p>There are no records!</p>
            {% endif %}

            </div>
      {% else %}
		<h1> You are not logged in</h1>
	{% endif %}
{% endblock content%}

{% block scripts %}
<script>

    $(".ajax_open_form").submit(function (e) {
        var movement_plan_id = $(this).closest('tr').children('td:first').text();
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize() + '&movement_plan_id=' + movement_plan_id;
        // Url
        var url = "{% url 'movement:create_list_mov_cp_detail' %}"
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'movement:post_movement_plan' %}",
            data: serializedData,
            success: function (response) {
                window.location = url
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })

    // Alert - Start
    var alertPlaceholder = document.getElementById('liveAlertPlaceholder');
    function alert_guide(header, body, extra, instruction, furtherinfo) {
        let code = "";
        code += "<div class=\"alert alert-success\" role=\"alert\">\n";
        code += "<p class=\"text-center bg-secondary text-white\">(Guide Mode)</p>\n";
        code += "  <h4 class=\"alert-heading\">" + header + "</h4>\n";
        code += "  <p>" + body + "</p>\n";
        code += "  " + extra + "\n";
        code += "  " + instruction + "\n";
        code += "  <p></br>" + furtherinfo + "</p>\n";
        code += "  <hr>\n";
        code += "  <p class=\"mb-0 alert alert-warning\"><small><strong>Note:</strong> The administrator has activated \
                    the guide mode on this web application.\n";

        code += "</div>\n";

        var wrapper = document.createElement('div');
        wrapper.innerHTML = code;
        alertPlaceholder.append(wrapper);
    }

    $(document).ready(function () {
        var header = "Make a StartEx Plan!";
        var body = "Populate the fields with the relevant information.";
        var extra = "<h5>For example:</h5>";
        var instruction = "<b>Name: </b> Ex Avon Drive</br><b>Brigade: </b>12 Bde</br><b>Description: </b>This exercise will involve all units from 12 Bde.";
        var furtherinfo = "After you've created the StartEx plan, you can make changes by clicking the \"<code>Delete</code>\" or \"<code>Update</code>\" \
                    buttons. Finally, click the \"<code>Open</code>\" button next to the newly created StartEx plan.";
        alert_guide(header, body, extra, instruction, furtherinfo);
    });
    // Alert - End
</script>
{% endblock scripts %}