{% extends "movement/movement_layout.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'movement:movement_plan_base' %}">Movement</a></li>
  <li class="breadcrumb-item active">New Unit</li>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
  <div class="alert alert-info lead" role="alert">
    Add New Unit
  </div>
  {% load django_bootstrap5 %}
  	<div class="container">
  		<form method="POST" class="form">
  			{% csrf_token %}
  			{% bootstrap_form form layout='horizontal' %}
  			{% bootstrap_button button_type="submit" class="btn btn-primary" content="Add" %}
  			<a class="ms-3 btn btn-primary" href="{% url 'movement:movement_plan_base' %}" role="button">Done</a>
      </form>
  	</div>

    <div class="mt-5 alert alert-secondary lead" role="alert">
    	List of units
    </div>
  	{% if unit_create_list %}
      <table id = "id_brigade_list_view" class="table table-responsive table-striped table-bordered border-secondary mb-4">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Acronym</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for unit in unit_create_list %}
            <tr>
              <td>{{ unit.id }}</td>
              <td>{{ unit.unit }}</td>
              <td>{{ unit.acronym }}</td>
              <td><a href="{{ unit.get_delete_url }}" class="btn btn-danger btn-sm bi bi-x-square"></a>
                  <a href="{{ unit.get_update_url }}" class="btn btn-primary btn-sm bi bi-pen"></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include 'movement/pagination.html' %}

  	{% else %}
  		<p>Please submit the form to refresh the records.</p>
  	{% endif %}

  {% else %}
    <h1> You are not logged in</h1>
  {% endif %}
</div>
{% endblock %}
