{% extends "movement/movement_layout.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'movement:movement_plan_base' %}">Movement</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'movement:create_movement_plan' %}">Create Movement Plan</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'movement:create_list_mov_cp_detail' %}">CP Allocation</a></li>
    <li class="breadcrumb-item active">Unit Allocate</li>
{% endblock %}

{% block searchbar %}
    <form class="d-flex" action="{% url 'movement:create_list_mov_unit_detail' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Movement - Search" aria-label="Search" name="search">
      <button class="btn btn-success me-2" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div id="liveAlertPlaceholder"></div>
        {% if searchbool %}
            <div class="container">
                <hr class="bg-danger border-2 border-top border-danger">
                <h2>Search Result</h2><br>
                {% if unit_details %}
                    {% for unit_detail in unit_details %}
                        <h3>{{forloop.counter}}. {{unit_detail.m_id}}</h3>
                        <p class="lead">ID: {{unit_detail.id}}</p>
                        <p>Unit: {{unit_detail.unit}}</p>
                        <p>Packet No: {{unit_detail.packet_no}}</p>
                        <p>Vehicle Qty: {{unit_detail.vehicle_qty}}</p>
                    {% endfor %}
                {% else %}
                    <p>Not found </p>
                {% endif %}
                <hr class="bg-danger border-2 border-top border-danger">
            </div>
        {% endif %}

        <div class="container">
          <div class="alert alert-info lead" role="alert">Unit Allocation</div>
          {% load django_bootstrap5 %}
            <div class="d-flex align-content-stretch flex-wrap">
                <div>
                    <form method="POST" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form layout='horizontal' %}
                        {% bootstrap_button button_type="submit" class="btn btn-primary" content="Add" %}
                        {% if sx_guide == 0 %}
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        {% endif %}
                        <a id = 'id_done' class="ms-3 btn btn-primary" href="{% url done_url %}" role="button">{{ done_text }}</a>
                  </form>
                    </br> <button class="btn_text_change btn btn-outline-dark" id="id_btn_text_change">{{ btn_text }}</button>
                </div>


                    <div id="id_startex_plan_div" class = "border border-secondary border-4 p-3 mb-2 bg-light text-dark">
                        <div class="container">
                            <label class="col-sm-4 col-form-label" for="id_sx_plan_sec">StartEx Plan:</label>
                            <select id="id_sx_plan_sec" class="form-select">
                                {% for sx_l in startex_list %}
                                    <option value="{{ sx_l.id }}" class="sel_sx">{{ sx_l.name }}</option>
                                {% endfor %}
                            </select>
                          <div class="row">
                            <div class="col">
                                <label class="col-sm-2 col-form-label" for="id_sx_id_sec">ID:</label><span id="id_sx_id_sec">{{ detail_startex_plan.id }}</span>
                            </div>
                            <div class="col">
                              <label class="col-sm-4 col-form-label" for="id_sx_brigade_sec">Brigade:</label><span id="id_sx_brigade_sec">{{ detail_startex_plan.brigade }}</span>
                            </div>
                          </div>
                        </div>

                        <div class="container">
                            <div class="p-3 mb-3 bg-light border rounded-3">
                                <h5>Description</h5>
                                <p class="lead"> {{ detail_startex_plan.description }}</p>
                            </div>
                        </div>


                        <p hidden id="id_veh_found"></p>
                        <p hidden id="id_veh_total"></p>
                        <p hidden id="id_btn_cmd">{{ btn_cmd }}</p>
                        <p hidden id="id_sx_pk">{{ detail_startex_plan.id }}</p>
                        <div class="container">
                            <div class="table-responsive">
                              <table class="table table-bordered" style="text-align: center;">
                                  <thead>
                                    <tr class = "table-secondary align-middle">
                                      <th scope="col"></th>
                                        {% for vehicle_data in sx_vehicle_data %}
                                            <th scope="col">{{ vehicle_data.name }}</th>
                                        {% endfor %}
                                        <th>Total</th>
                                    </tr>
                                  </thead>
                                  <tbody id='main_tbody'>
                                    {% for unit_detail in sx_unit_detail %}
                                        <tr>
                                            <td class = "table-secondary"><strong>{{ unit_detail.u_id }}</strong></td>
                                            {% for vehicle_data in sx_vehicle_data %}

                                                {% for vehicle_detail in sx_vehicle_detail %}
                                                    {% if vehicle_detail.sx_u_id.id == unit_detail.id and vehicle_data.id == vehicle_detail.sx_v_id.id %}
                                                        <td class="bg-info text-white">{{vehicle_detail.qty}}</td>
                                                        <script>
                                                            if ({{vehicle_detail.qty}} > 0){
                                                                $("#id_veh_found").text('set');
                                                            }

                                                            var total = Number(document.getElementById("id_veh_total").textContent);
                                                            total = total + {{vehicle_detail.qty}};
                                                            document.getElementById("id_veh_total").textContent = total;
                                                        </script>
                                                    {% endif %}
                                                {% endfor %}

                                                <script>
                                                    if ($("#id_veh_found").text() != 'set'){
                                                        document.write("<td></td>");
                                                    }
                                                    $("#id_veh_found").text('');
                                                </script>
                                            {% endfor %}
                                            <script>
                                                var total = document.getElementById("id_veh_total").textContent;
                                                document.write("<td><b>" + total + "</b></td>");
                                                document.getElementById("id_veh_total").textContent = 0
                                            </script>
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="mt-5 alert alert-secondary lead" role="alert">
                List of allocated units
            </div>
            {% if unit_detail_create_list %}
              <table id="id_u_list_view" class="table table-responsive table-striped table-bordered border-secondary mb-4">
                <thead class="table-dark">
                  <tr>
                    <th>ID</th>
                    <th>Unit</th>
                    <th>Packet No</th>
                    <th>Vehicle Qty</th>
                    <th>Packet Allocated</th>
                    <th>Packet Auto Allocated</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% if unit_detail_create_list %}
                        {% regroup unit_detail_create_list by m_id as unit_detail_create_list_by_m_id %}
                            {% for m_id in unit_detail_create_list_by_m_id %}
                                <tr>
                                    <td>{{ m_id.grouper }}</td>

                                    <td>
                                        {% for name in m_id.list %}
                                            <div class="border-bottom" style="height:40px;">{{name.unit}}</div>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for name in m_id.list %}
                                            <div class="border-bottom" style="height:40px;">{{name.packet_no}}</div>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for name in m_id.list %}
                                            <div class="border-bottom" style="height:40px;">{{name.vehicle_qty}}</div>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for name in m_id.list %}
                                            <div class="border-bottom" style="height:40px;">{{name.packet_allocated}}</div>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for name in m_id.list %}
                                            <div class="border-bottom" style="height:40px;">{{name.packet_auto_populated}}</div>
                                        {% endfor %}
                                    </td>

                                    <td>
                                    {% for unit_detail in unit_detail_create_list %}
                                        <div class="border-bottom" style="height:40px;">
                                            <a href="{{ unit_detail.get_delete_url }}" class="btn btn-danger btn-sm bi bi-x-square"></a>
                                            <a href="{{ unit_detail.get_update_url }}" class="btn btn-primary btn-sm bi bi-pen"></a>
                                            <form class="ajax_open_form btn">
                                                {% csrf_token %}
                                                <input type="submit" id="uid-{{unit_detail.id}}" class="btn btn-primary btn-sm" value="Open" />
                                                {% if forloop.counter == 1 %}
                                                    {% if sx_guide == 1 %}
                                                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                    {% endif %}
                                                {% endif %}
                                            </form>
                                        </div>
                                    {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                    {% endif %}
                </tbody>
              </table>

              {% include 'movement/pagination.html' %}

            {% else %}
                <p>There are no records!</p>
            {% endif %}

            <script>
                $('#id_m_id').val({{ m_id }});
                if ('{{ done_text }}' == 'Next'){
                  $('#id_done').hide();
                }else{
                  $('#id_done').show();
                }
            </script>
            </div>
      {% else %}
		<h1> You are not logged in</h1>
	{% endif %}
{% endblock %}

{% block scripts %}
<script>

    if ($('#id_btn_cmd').text() == "show" ){
        $('#id_startex_plan_div').show();
    } else {
        $('#id_startex_plan_div').hide();
    }

    document.getElementById("id_sx_plan_sec").value = Number(document.getElementById("id_sx_pk").innerHTML);

    /*$('#id_startex_plan_div').hide()
    $('.btn_text_change').click(function(){
        var $this = $(this);
        $this.toggleClass('btn_text_change');
        if($this.hasClass('btn_text_change')){
            $this.text('Show StartEx Plan');
            $('#id_startex_plan_div').hide()
        } else {
            $this.text('Hide StartEx Plan');
            $('#id_startex_plan_div').show()

        }
    });*/


    $('.btn_text_change').click(function(){
        var $this = $(this);
        var btn_txt = $this.text();
        $this.text(function(i, text){
          return text === "Hide StartEx Plan" ? "Show StartEx Plan" : "Hide StartEx Plan";
        })
        if ($this.text() === "Show StartEx Plan"){
          $('#id_startex_plan_div').hide()
        } else {
            $('#id_startex_plan_div').show()
        }

        //$this.toggleClass('btn_text_change');
        //if($this.hasClass('btn_text_change')){
        //    $this.text('Show StartEx Plan');
        //    $('#id_startex_plan_div').hide()
        //} else {
        //    $this.text('Hide StartEx Plan');
        //    $('#id_startex_plan_div').show()
        //}
        $.ajax({
        type: 'GET',
        url: "{% url 'movement:get_btn_text' %}",
        data: {
          'btn_txt': btn_txt,
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            location.reload();
            //alert(data.error_message);
          }
        }
        });
    });

    /*$("#id_btn_text_change").click(function () {
      var btn_txt = $('#id_btn_text_change').text();
      $.ajax({
        type: 'GET',
        url: "{% url 'movement:get_btn_text' %}",
        data: {
          'btn_txt': btn_txt,
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            location.reload();
            //alert(data.error_message);
          }
        }
      });
    });*/

    $("#id_sx_plan_sec").change(function () {
      var sx_id = $('#id_sx_plan_sec').val();
      $.ajax({
        type: 'GET',
        url: "{% url 'movement:get_sx_plan' %}",
        data: {
          'sx_id': sx_id,
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            location.reload();
            //alert(data.error_message);
          }
        }
      });
    });

    $("#id_m_id").change(function (e) {
        e.preventDefault();
        // get the nickname
        var m_id = $(this).val();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'movement:get_unit_detail' %}",
            data: {"m_id": m_id},
            success: function (response) {
                location.reload();
            },
            error: function (response) {
                console.log(response)
            }
        })
    })

    $("#id_unit").change(function () {
      var mov_id = $('#id_m_id').val();
      var mov_unit_name = $(this).val();
      $.ajax({
        type: 'GET',
        url: "{% url 'movement:validate_mov_unit_name' %}",
        data: {
          'mov_unit_name': mov_unit_name,
          'mov_id': mov_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
            var vehName = $("#id_unit");
            vehName.val("")
            vehName.focus()
          }
        }
      });
    });

    $(".ajax_open_form").submit(function (e) {
        var m_plan_id = $(this).closest('tr').children('td:first').text().split(" - ")[0];
        var m_unit_id = $(this).children('input:last').attr("id").split("-")[1];
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize() + '&m_plan_id=' + m_plan_id + '&m_unit_id=' + m_unit_id;
        // Url
        var url = "{% url 'movement:create_list_mov_packet_detail' %}"
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'movement:post_unit_detail' %}",
            data: serializedData,
            success: function (response) {
                window.location = url
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })

    // Alert - Start
    var alertPlaceholder = document.getElementById('liveAlertPlaceholder');
    function alert_guide(header, body, extra, instruction, furtherinfo) {
        let code = "";
        code += "<div class=\"alert alert-success\" role=\"alert\">\n";
        code += "<p class=\"text-center bg-secondary text-white\">(Guide Mode)</p>\n";
        code += "  <h4 class=\"alert-heading\">" + header + "</h4>\n";
        code += "  <p>" + body + "</p>\n";
        code += "  " + extra + "\n";
        code += "  " + instruction + "\n";
        code += "  <p></br>" + furtherinfo + "</p>\n";
        code += "  <hr>\n";
        code += "  <p class=\"mb-0 alert alert-warning\"><small><strong>Note:</strong> The administrator has activated \
                    the guide mode on this web application.\n";

        code += "</div>\n";

        var wrapper = document.createElement('div');
        wrapper.innerHTML = code;
        alertPlaceholder.append(wrapper);
    }

    $(document).ready(function () {
        var header = "Then, a unit allocation!";
        var body = "Select a relevant unit from the dropdown box and populate its parameters, then click the \"<code>Add</code>\" button to add the unit to the Movement plan created earlier. Repeat the process to add more units to the plan.";
        var extra = "<h5>For example:</h5>";
        var instruction = "<b>Unit: </b> 1 MERC</br><b>Packet no: </b> 1</br><b>Vehicle qty: </b> 10";
        var furtherinfo = "After you've added the unit, you can make changes by clicking the \"<code>Delete</code>\" or \"<code>Update</code>\" \
                    buttons. Finally, click the \"<code>Open</code>\" button next to the newly created unit to allocate packet details for its subunits.";
        alert_guide(header, body, extra, instruction, furtherinfo);
    });
    // Alert - End


</script>
{% endblock scripts %}