{% extends "movement/movement_layout.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'movement:movement_plan_base' %}">Movement</a></li>
  <li class="breadcrumb-item active">Remove Unit</li>
{% endblock %}

{% block content %}
	{% if request.user.is_authenticated %}
		<div class="container">
		  <div class="alert alert-danger lead" role="alert">
			Confirm Remove Unit!
		  </div>
		  {% load django_bootstrap5 %}
			<div class="container">
				<form method="POST" class="form">
					{% csrf_token %}
				  <p>Are you sure you want to delete unit allocated to "{{ object.m_id }}"?</p>
					{% bootstrap_button button_type="submit" class="btn btn-primary" content="Confirm" %}
					<a class="ms-3 btn btn-primary" href="{% url cancel_url %}" role="button">Cancel</a>
			  </form>
			</div>
		</div>
	{% else %}
		<h1> You are not logged in</h1>
	{% endif %}
{% endblock %}
