{% extends "movement/movement_layout.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'movement:movement_plan_base' %}">Movement</a></li>
	<li class="breadcrumb-item active">Movement Plan List</li>
{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    <div class="alert alert-dark lead" role="alert">
    	View Movement Plan
    </div>
  	{% if movement_detail_list %}
      <div class="row">
    		{% for movement_data in movement_detail_list %}
    			<div class="mb-1 card col-sm-6">
    			  <div class="card-header">
    			    {{ movement_data.exercise_name }}
    			  </div>
    			  <div class="card-body">
    			    <h5 class="card-title">{{ movement_data.route_name }}</h5>
    			    <p class="card-text">{{movement_data.description}}</p>
    					<p class="mb-0 card-text">Created at: {{movement_data.created_at}}</p>
    					<p class="mt-0 card-text">Created by: {{movement_data.created_by}}</p>
    			    <a href="{{ movement_data.get_absolute_url }}" class="btn btn-primary">View</a>
    			  </div>
    			</div>
    		{% endfor %}
      </div>

      {% include 'movement/pagination.html' %}

  	{% else %}
  		<p>There are no movment records!</p>
  	{% endif %}
  {% else %}
    <h1> You are not logged in</h1>
	{% endif %}
{% endblock %}
