{% extends "movement/movement_layout_base.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Movement</li>
{% endblock %}

{% block content %}
{% load static %}
{% if request.user.is_authenticated %}
	<div id="liveAlertPlaceholder"></div>
  <div class="container mb-3">
    <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>Movement planning page</span></h1>
      <!-- <h2>Here you can plan and manage vehicle movement.</h2> -->
      <!-- <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div> -->
    </div>
  </section>
  </div>

  <!-- Carousel Section -->
  <div class="container">
    <div class = "row justify-content-lg-center">
      <div class="col-md-12 col-lg-6 mb-5">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'army_calculator/content/image/army_img_sm.png' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Critical Point (CP)</h5>
                <p>Definition of the CP.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'army_calculator/content/image/army_img_sm.png' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Release Point (RP)</h5>
                <p>Definition of the RP.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'army_calculator/content/image/army_img_sm.png' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Vehicle Density</h5>
                <p>Definition of the vehicle density.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2 data-aos="fade-in">Segments</h2>
      <p data-aos="fade-in">The movement planning tool is divided into three segments: Create, Update/Delete, and View.</p>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Create</li>
          <li data-filter=".filter-card">Update/Delete</li>
          <li data-filter=".filter-web">View</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{% static 'army_calculator/content/image/mov_create.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'army_calculator/content/image/mov_create.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
            <a href="{% url 'movement:create_movement_plan' %}" title="More Details"><i class="bi bi-link"></i></a>
          </div>
          <div class="portfolio-info">
            <h4>Create</h4>
            <p>Movement Plan</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="{% static 'army_calculator/content/image/mov_edit.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'army_calculator/content/image/mov_edit.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
            <a href="{% url 'movement:list_edit_movement_plan' %}" title="More Details"><i class="bi bi-link"></i></a>
          </div>
          <div class="portfolio-info">
            <h4>Update/Delete</h4>
            <p>Movement Plan</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{% static 'army_calculator/content/image/mov_view.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'army_calculator/content/image/mov_view.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
            <a href="{% url 'movement:list_movement_plan' %}" title="More Details"><i class="bi bi-link"></i></a>
          </div>
          <div class="portfolio-info">
            <h4>View</h4>
            <p>Movement Plan</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->

{% else %}
  <h1> You are not logged in</h1>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    // Alert - Start
    var alertPlaceholder = document.getElementById('liveAlertPlaceholder');
    function alert_guide(header, body, extra, instruction) {
        let code = "";
        code += "<div class=\"alert alert-success\" role=\"alert\">\n";
        code += "<p class=\"text-center bg-secondary text-white\">(Guide Mode)</p>\n";
        code += "  <h4 class=\"alert-heading\">" + header + "</h4>\n";
        code += "  <p>" + body + "</p>\n";
        code += "  " + extra + "\n";
        code += "  " + instruction + "\n";
        code += "  <hr>\n";
        code += "  <p class=\"mb-0 alert alert-warning\"><small><strong>Note:</strong> The administrator has activated \
                    the guide mode on this web application.\n";

        code += "</div>\n";

        var wrapper = document.createElement('div');
        wrapper.innerHTML = code;
        alertPlaceholder.append(wrapper);
    }

    $(document).ready(function () {
        var header = "Let's start with the Movement module!";
        var body = "This is the Movement module's landing page. This page will contain pertinent information about this module. \
                    There isn't much information here right now because we're figuring out what information our sponsors want displayed here.";
        var extra = "Please select \"<code>Movement Plan</code>\" from the \"<code>Create/Update</code>\" dropdown menu on the left vertical navbar.";
        var instruction = "";
        alert_guide(header, body, extra, instruction);
    });
    // Alert - End
</script>
{% endblock scripts %}