{% extends "movement/movement_layout_base.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Movement</li>
{% endblock %}

{% block content %}
{% load static %}
{% if request.user.is_authenticated %}
	<div id="liveAlertPlaceholder"></div>
<!--  <div class="container mb-3">-->
<!--    <section id="hero" class="d-flex align-items-center">-->
<!--    <div class="container" data-aos="zoom-out" data-aos-delay="100">-->
<!--      <h1>Welcome to <span>Movement planning page</span></h1>-->
<!--      &lt;!&ndash; <h2>Here you can plan and manage vehicle movement.</h2> &ndash;&gt;-->
<!--      &lt;!&ndash; <div class="d-flex">-->
<!--        <a href="#about" class="btn-get-started scrollto">Get Started</a>-->
<!--        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
<!--      </div> &ndash;&gt;-->
<!--    </div>-->
<!--  </section>-->
<!--  </div>-->

  <!-- ======= hero_2 Section ======= -->
  <section id="hero_2" class="container align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Welcome to Movement Planning page</h1>
          <h2>This module enables logistic planning officers to generate a variety of calculation outputs linked to road movement to assist them in the logistics planning process. </h2>
        </div>
      </div>
      <div class="text-center">
        <a href="{% url 'movement:create_movement_plan' %}" class="btn-get-started scrollto">Get Started</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-align-end"></i></div>
            <h4 class="title"><a href="">Start Point</a></h4>
            <blockquote class="blockquote"><p class="description">A well-defined point on a route at which the movement of vehicles comes under the control of the commander of the movement. It is at this point that hte column is formed by the elements comprising it, passing in succession at their appointed times.</p></blockquote>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-layout-three-columns"></i></div>
            <h4 class="title"><a href="">Column</a></h4>
            <blockquote class="blockquote"><p class="description">A group of vehicles moving under a single commander over the same route, in the same direction, at the same time.</p></blockquote>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-file-break"></i></div>
            <h4 class="title"><a href="">Element</a></h4>
            <blockquote class="blockquote"><p class="description">Subdivision of a large column, each element having its own commander.</p></blockquote>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-markdown-line"></i></div>
            <h4 class="title"><a href="">Critical Point (CP)</a></h4>
            <blockquote class="blockquote"><p class="description">A selected point along a route used for reference in giving instructions.</p></blockquote>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-segmented-nav"></i></div>
            <h4 class="title"><a href="">Release Point (RP)</a></h4>
            <blockquote class="blockquote"><p class="description">A well defined point on a route at which the elements comprising a column return to the authority of their respective commanders, each one of the elements continuing its movement towards its own appropriate destination.</p></blockquote>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-stop-circle-line"></i></div>
            <h4 class="title"><a href="">Halts</a></h4>
            <blockquote class="blockquote"><p class="description">A short halt by columns or elements of columns travelling on controlled routes takes place after two hours running and lasts 15 minutes. If necessary, a second halt takes place after a further two hours and lasts for 30 minutes. This pattern may be repeated up to a maximum of nine hours actual driving time, after which drivers should take a minimum of 11 hours unbroken rest before commencing driving again.</p></blockquote>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-run-line"></i></div>
            <h4 class="title"><a href="">Running Time</a></h4>
            <blockquote class="blockquote"><p class="description">The total time for which a single element is in transit.</p></blockquote>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-time-line"></i></div>
            <h4 class="title"><a href="">Pass Time</a></h4>
            <blockquote class="blockquote"><p class="description">The time that elapses between the moment when the leading vehicle of a column passes a given point and the moment when the last vehicle passes the same point plus, where appropriate, a time gap.</p></blockquote>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-brackets-line"></i></div>
            <h4 class="title"><a href="">Time Gap</a></h4>
            <blockquote class="blockquote"><p class="description">Within columns travelling under one movement number, a time gap is added to the calculated pass time. It represents the sum of the intervals between the columns and elements expressed in minutes.</p></blockquote>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-collection"></i></div>
            <h4 class="title"><a href="">Traffic Density</a></h4>
            <blockquote class="blockquote"><p class="description">The average number of vehicles that occupy one kilometer of road space.</p></blockquote>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End hero_2 -->


{% else %}
  <h1> You are not logged in</h1>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    // Alert - Start
    var alertPlaceholder = document.getElementById('liveAlertPlaceholder');
    function alert_guide(header, body, extra, instruction) {
        let code = "";
        code += "<div class=\"alert alert-success\" role=\"alert\">\n";
        code += "<p class=\"text-center bg-secondary text-white\">(Guide Mode)</p>\n";
        code += "  <h4 class=\"alert-heading\">" + header + "</h4>\n";
        code += "  <p>" + body + "</p>\n";
        code += "  " + extra + "\n";
        code += "  " + instruction + "\n";
        code += "  <hr>\n";
        code += "  <p class=\"mb-0 alert alert-warning\"><small><strong>Note:</strong> The administrator has activated \
                    the guide mode on this web application.\n";

        code += "</div>\n";

        var wrapper = document.createElement('div');
        wrapper.innerHTML = code;
        alertPlaceholder.append(wrapper);
    }

    $(document).ready(function () {
        var header = "Let's start with the Movement module!";
        var body = "This is the Movement module's landing page. This page will contain pertinent information about this module. \
                    There isn't much information here right now because we're figuring out what information our sponsors want displayed here.";
        var extra = "Please select \"<code>Movement Plan</code>\" from the \"<code>Create/Update</code>\" dropdown menu on the left vertical navbar.";
        var instruction = "";
        alert_guide(header, body, extra, instruction);
    });
    // Alert - End

    $('.b-vert-divider').attr('style', 'height: 220vh');
</script>
{% endblock scripts %}