{% extends "movement/movement_layout.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'movement:movement_base' %}">Movement</a></li>
	<li class="breadcrumb-item active"><a href="{% url 'movement:all' %}">Movement Plan</a></li>
  <li class="breadcrumb-item active">Movement Plan Detail</li>
{% endblock %}

{% block content %}
	{% if request.user.is_authenticated %}
		<div class="container">
				<p hidden id="my_date">{{movement_detail_detail.start_date|date:"Y-m-d"}}T{{movement_detail_detail.start_time|time:"H:i:s"}}.000Z</p>
		    <p class="text-end mb-0"><strong>{{ movement_detail_detail.serial }}</strong></p>
				<p class="text-end"><strong>{{ movement_detail_detail.exercise_name }}</strong></p>
				<h4 class="text-center">{{ movement_detail_detail.route_name }}</h4>
				<p class="text-center lead"><mark>{{ movement_detail_detail.brigade }}</mark></p>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<table class = 'table table-borderless'>
						<tr>
							<td width="95px" class = "mb-0"><small>Created At:</small></td>
							<td><small>{{ movement_detail_detail.created_at }}</small></td>
						</tr>
						<tr>
							<td><small>Created By:</small></td>
							<td><small>{{ movement_detail_detail.created_by }}</small></td>
						</tr>
					</table>
				</div>
		</div>

		<div class="container">
			<div class="row g-0">
	        <div class="col-md-6 col-lg-4 col-xl-3">
							<table class = 'table table-borderless'>
								<tr>
									<td width="160px"><strong>Start time:</strong></td>
									<td>{{ movement_detail_detail.start_time|time:"H:i:s" }}</td>
								</tr>
								<tr>
									<td><strong>Route type:</strong></td>
									<td>{{ movement_detail_detail.route_type }}</td>
								</tr>
							</table>
	        </div>
	        <div class="col-md-6 col-lg-4 col-xl-3">
						<table class = 'table table-borderless'>
							<tr>
								<td width="160px"><strong>Start date:</strong></td>
								<td>{{ movement_detail_detail.start_date|date:"j/n/y" }}</td>
							</tr>
							<tr>
								<td><strong>Pkt gap (min):</strong></td>
								<td>{{ movement_detail_detail.packet_gap }}</td>
							</tr>
						</table>
					</div>
	        <div class="col-md-6 col-lg-4 col-xl-3">
						<table class = 'table table-borderless'>
							<tr>
								<td width="160px"><strong>Avg speed (km/h):</strong></td>
								<td>{{ movement_detail_detail.speed }}</td>
							</tr>
							<tr>
								<td><strong>Unit gap (min):</strong></td>
								<td>{{ movement_detail_detail.unit_gap }}</td>
							</tr>
						</table>
					</div>
	        <div class="col-md-6 col-lg-4 col-xl-3">
						<table class = 'table table-borderless'>
							<tr>
								<td width="160px"><strong>Tfc density (veh/km):</strong></td>
								<td>{{ movement_detail_detail.traffic_density }}</td>
							</tr>
							<tr>
								<td><strong>Unit's Pkt size:</strong></td>
								<td>{{ movement_detail_detail.packet_size}} (global)</td>
							</tr>
						</table>
	        </div>
	    </div>
		</div>

		<div class="container">
			<div class="p-3 mb-3 bg-light border rounded-3">
				<h5>Description</h5>
				<p class="lead"> {{ movement_detail_detail.description }}</p>
			</div>
		</div>

		<div class="container">
			<div class="table-responsive">
			  <table class="table table-bordered" style="text-align: center;">
				  <thead>
				    <tr class = "table-secondary align-middle">
				      <th rowspan ="2" scope="col">Pkt No</th>
				      <th rowspan ="2" scope="col">Vehicle Qty</th>
				      <th rowspan ="2" scope="col">Unit</th>
				      <th rowspan ="2" scope="col">Pass Time (min)</th>
							<th colspan ="2" scope="col">SP</th>
							{% for cp in cp_detail %}
								{% if forloop.last %}
									<th scope="col">RP</th>
								{% else %}
									<th colspan ="2" scope="col">CP {{cp.cp_no}}</th>
								{% endif %}
							{% endfor %}
				      <th rowspan ="2" scope="col">Running Time (min)</th>
				      <th rowspan ="2" scope="col">Total Time (min)</th>
				      <th rowspan ="2" scope="col">View</th>

				    </tr>
						<tr class = "table-secondary align-middle" style="text-align: center;">
							<th scope="col">Start</th>
							<th scope="col">Clear</th>
							{% for cp in cp_detail %}
								{% if forloop.last %}
									<th scope="col">ETA</th>
								{% else %}
								<th scope="col">ETA</th>
								<th scope="col">Clear</th>
								{% endif %}
							{% endfor %}
						</tr>
				  </thead>
				  <tbody id='main_tbody'>
					<script async>
						var previous_pass_time = 0;
						var route_type = "{{ movement_detail_detail.route_type }}";
						{% for unit in unit_detail %}
							document.write("<tr>");
							document.write("<th scope='row'>{{ unit.packet_no }}</th>");
							document.write("<td class ='unit_veh_qty_cal'>{{ unit.vehicle_qty }}</td>");
							document.write("<td>{{ unit.unit }}</td>");

							// Pass Time calculation
							var density = {{ movement_detail_detail.traffic_density }};
							var speed = {{ movement_detail_detail.speed }};
							var vehicle_qty = {{ unit.vehicle_qty }};
							var pass_time = (60 * vehicle_qty)/(density * speed);
							document.write("<td>" + pass_time + "</td>");

							// SP - Start time calculation
							var unit_gap = {{ movement_detail_detail.unit_gap }};
							var datetime = new Date(Date.parse($("#my_date").text()));
							var unit_start_time = new Date(Date.parse($("#my_date").text()));

							// Adds hours, minutes and seconds to the Date stored in the datetime variable
							function datetime_adder(param1) {
								datetime.setHours(datetime.getHours() + Math.floor(param1 / 60));
								datetime.setMinutes(datetime.getMinutes() + param1);
								datetime.setSeconds(datetime.getSeconds() + param1 % 1 * 60);
							}

							// Adds hours, minutes and seconds to the Date stored in the unit_start_time variable
							function unit_start_time_adder(param1) {
								unit_start_time.setHours(unit_start_time.getHours() + Math.floor(param1 / 60));
								unit_start_time.setMinutes(unit_start_time.getMinutes() + param1);
								unit_start_time.setSeconds(unit_start_time.getSeconds() + param1 % 1 * 60);
							}

							// Subtracts hours, minutes and seconds from the Date stored in the datetime variable
							function datetime_subtractor(param1) {
								datetime.setHours(datetime.getHours() - Math.floor(param1 / 60));
								datetime.setMinutes(datetime.getMinutes() - param1);
								datetime.setSeconds(datetime.getSeconds() - param1 % 1 * 60);
							}

							{% if unit.packet_no != 1 %}
								datetime_adder(unit_gap);
								unit_start_time_adder(unit_gap);
							{% endif %}
							datetime_adder(previous_pass_time);
							unit_start_time_adder(previous_pass_time);
							document.write("<td>" + datetime.toLocaleTimeString('en-GB', {hour12: false}) + "</td>");

							// SP - Clear time calculation
							datetime_adder(pass_time);
							document.write("<td>" + datetime.toLocaleTimeString('en-GB', {hour12: false}) + "</td>");
							datetime_subtractor(pass_time);

							var unit_total_distance = 0;
							var unit_total_time = 0;
							var unit_total_halts = 0;
							var gap = 0;
							{% for cp in cp_detail %}
								// Calculates clear time for each unit.
								var halt_time = {{ cp.halt_time }};
								var distance = {{ cp.distance }};
								var delta_time = ((distance * 60) / speed);
									{% if forloop.last %}
										// RP - ETA calculation
										datetime_adder(delta_time);
										document.write("<td>" + datetime.toLocaleTimeString('en-GB', {hour12: false}) + "</td>");
									{% else %}
										// CP - ETA calculation
										datetime_adder(delta_time);
										document.write("<td>" + datetime.toLocaleTimeString('en-GB', {hour12: false}) + "</td>");
										// CP - Clear time calculation
										datetime_adder(pass_time);
										document.write("<td>" + datetime.toLocaleTimeString('en-GB', {hour12: false}) + "</td>");
										datetime_subtractor(pass_time);
									{% endif %}
									datetime_adder(halt_time);

									// Running Time (min) calculation
									unit_total_distance += distance;
									{% if forloop.last %}
										var running_time = 60 * unit_total_distance / speed;
										document.write("<td>" + running_time + "</td>");

										unit_total_time = running_time;
									{% else %}
										unit_total_halts += halt_time;
									{% endif %}

								{% endfor %}
								// Total Time (min) calculation
								if (route_type == "Motorway"){
									gap = pass_time * 0.15
								} else if(route_type == "Urban"){
									gap = pass_time * 0.2
								} else {
									gap = 0;
								}
								unit_total_time = unit_total_time + pass_time + unit_total_halts + gap;
								document.write("<td>" + Math.round(unit_total_time) + "</td>")

								// Store pass time of current unit so that it can be used for the next unit's calculations.
								previous_pass_time += pass_time;

								// View column
								var unit_start_time_formatted = unit_start_time.toISOString();
								var unit_start_time_url = "<td><a href='{{ unit.get_absolute_url }}?start_date=" + unit_start_time_formatted + "'>view</a></td>";
								document.write(unit_start_time_url);

								document.write("</tr>");
							{% endfor %}
						</script>

						<!-- <script>
							$( document ).ready(function() {
								var total_vehicle_qty = 0;
								var total_pass_time = 0;
								var counter = 0;
								var density = parseInt({{ movement_detail_detail.traffic_density }});
								var speed = parseInt({{ movement_detail_detail.speed }});
								var unit_gap = parseInt({{ movement_detail_detail.unit_gap }});
								var datetime = new Date(Date.parse($("#my_date").text()));
								//var start_time = string({{ movement_detail_detail.start_time }});
								//var dateObj = new Date(start_date + ' ' + start_time);

								// Calculates total vehicle quantity
								$( ".unit_veh_qty_cal" ).each(function( index ) {
										total_vehicle_qty = total_vehicle_qty + parseInt($(this).text());
									});

								// Calculates total pass time
								total_pass_time = (60 * total_vehicle_qty)/(density * speed);

								// Calculates SP - Start time
								$( ".unit_start_time_cal" ).each(function( index ) {
									if (counter != 0){
										datetime.setMinutes(datetime.getMinutes() + unit_gap);
									}
									counter++;
									$(this).text(datetime.toLocaleTimeString('en-GB', {hour12: false}));
								});

							});
						</script> -->
				  </tbody>
			  </table>

				<table class="mt-5 table table-borderless">
					<tr style="text-align: center;">
			      <th scope="col" style="text-align: right;">Halt time (min):</th>
			      <td scope="col"></td>
						{% for cp in cp_detail %}
							{% if forloop.last %}
								<td scope="col"></td>
								<td scope="col"></td>
							{% else %}
								<td scope="col"></td>
								<td scope="col">{{cp.halt_time}}</td>
							{% endif %}
						{% endfor %}
			    </tr>
					<tr style="text-align: center;">
			      <th rowspan = "2" style="text-align: right;">Critical point:</th>
			      <th rowspan = "2" scope="col">SP</th>
						{% for cp in cp_detail %}
							{% if forloop.last %}
								<td style="border-bottom: 1px solid black;"></td>
								<th rowspan="2" scope="col">RP</th>
							{% else %}
								<td style="border-bottom: 1px solid black;"></td>
								<th rowspan ="2" scope="col">CP {{cp.cp_no}}</th>
							{% endif %}
						{% endfor %}
			    </tr>
					<tr>
						<th></th>
						<td></td>
			      <td></td>
			      <td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr style="text-align: center;">
			      <th scope="col" style="text-align: right;">Distance (km):</th>
			      <td scope="col"></td>
						{% for cp in cp_detail %}
							{% if forloop.last %}
								<td scope="col">{{cp.distance}}</td>
								<td scope="col"></td>
							{% else %}
								<td scope="col">{{cp.distance}}</td>
								<td scope="col"></td>
							{% endif %}
						{% endfor %}
			    </tr>
			  </table>
				<table class="mt-5 table table-borderless" style="width: auto;">
					<tr class = "table-secondary align-middle" style="text-align: center;">
			      <th colspan="2" scope="col">Other Details</th>
			    </tr>
					<tr style="text-align: left; width: 1%;">
			      <th scope="col">Traffic flow (veh/hr):</th>
						<td scope = "col" id="traffic_flow"></td>
			    </tr>
					<tr style="text-align: left; width: 1%;">
			      <th scope="col">Convoy length (km):</th>
						<td scope = "col" id="total_length_convoy"></td>
			    </tr>
					<tr style="text-align: left; width: 1%;">
			      <th scope="col">Total vehicle qty:</th>
						<td scope = "col" id="total_no_vehicle"></td>
			    </tr>
					<tr style="text-align: left; width: 1%;">
			      <th scope="col">Total distance (km):</th>
						<td scope = "col" id="total_distance"></td>
			    </tr>
					<tr style="text-align: left; width: 1%;">
			      <th scope="col">Total halt time (min):</th>
						<td scope = "col" id="total_halt_time"></td>
			    </tr>
			  </table>
			</div>
		</div>
	{% else %}
		<h1> You are not logged in</h1>
	{% endif %}
	<script>
		$( document ).ready(function() {
			var total_vehicle_qty = 0;
			var total_distance = 0.0;
			var total_halt = 0;
			var total_vehicle_qty = 0;
			{% for cp in cp_detail %}
				{% if forloop.last %}
					total_distance += parseFloat({{ cp.distance }});
				{% else %}
					total_distance += parseFloat({{ cp.distance }});
					total_halt += {{cp.halt_time}};
				{% endif %}
			{% endfor %}
			{% for unit in unit_detail %}
				var density = {{ movement_detail_detail.traffic_density }};
				var speed = {{ movement_detail_detail.speed }};
				total_vehicle_qty += {{ unit.vehicle_qty }};
			{% endfor %}
			var traffic_flow = speed * density;
			var total_length_convoy = total_vehicle_qty / density;
			$("#traffic_flow").text(traffic_flow);
			$("#total_no_vehicle").text(total_vehicle_qty);
			$("#total_length_convoy").text(total_length_convoy);
			$("#total_distance").text(total_distance);
			$("#total_halt_time").text(total_halt);
		});
	</script>
{% endblock %}
