{% extends "movement/movement_layout.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'movement:movement_base' %}">Movement</a></li>
  <li class="breadcrumb-item active">Update Packet Detail</li>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
  <div class="alert alert-warning lead" role="alert">
    Update Packet Detail
  </div>
  {% load django_bootstrap5 %}
  	<div class="container">
  		<form method="POST" class="form">
  			{% csrf_token %}
  			{% bootstrap_form form layout='horizontal' %}
  			{% bootstrap_button button_type="submit" class="btn btn-primary" content="Save" %}
        	<a class="ms-3 btn btn-primary" href="{% url cancel_url %}" role="button">Cancel</a>
      </form>
  	</div>
  {% else %}
    <h1> You are not logged in</h1>
  {% endif %}
</div>
{% endblock %}
